<% if current_user %>
<div align="center">
  <div class="card navbar-custom" style="width: 60rem;">
    <div class="card-body">
      <h5 class="card-title">
        Viewing Party Details
      </h5>
      <h6 class="card-subtitle mb-2">
        <h6>Movie Title <%= @movie.title %></h6>
        <%= form_with model: @party, local: true do |f| %>
          <%= f.hidden_field :movie_id, id: :movie_id, value: params[:movie_id] %>
          <%= f.hidden_field :title, id: :title, value: @movie.title %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.label :duration, 'Duration of Party' %>
          <%= f.number_field :duration, id: :duration, min: @movie.runtime, max: 480, value: @movie.runtime %><br>
          <%= f.label :date, 'Day' %>
          <%= f.date_field :date, id: :date, min: Date.today %><br>
          <%= f.label :start_time, 'Start Time' %>
          <%= f.time_select :start_time, {minute_step: 15, ampm: true}, id: :start_time %>
          <br>
          <br>
          <h5>Friends:</h5>
          <% if !current_user.friends.empty? %><br/>
              <%= f.collection_check_boxes(:users, current_user.friends, :id, :username, include_hidden: false) %><br/><br/>
          <% end %>
          <br>
          <%= f.submit 'Create Party', params: {movie_id: @movie.id}, class: "btn btn-sm btn-light button-bg btn-outline-dark" %>
          <% end %>
          <% else %>
          <h3>Please Log In to Create Viewing Parties</h3>
        <% end %>
      </h6>
    </div>
  </div>
</div>
