  <div class="movie_search">
    <%= button_to "Find Top Rated Movies", movies_path, method: :get, local: true ,class: "btn btn-sm btn-light button-bg btn-outline-dark"%>
    <%= render partial: 'shared/movie_search' %>
  </div>



<% if @movies%>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <% @movies.each do |movie| %>
    <div>
      <tbody>
        <tr>
          <td><%= button_to movie.title, movie_path(movie), class: 'btn btn-sm btn-light button-bg btn-outline-dark' %></td>
          <td>Average Vote: <%= movie.rating %></td>
        </tr>
      </tbody>
    </div>
    <% end %>
  </table>
<% end  %>

<%= link_to 'back', discover_path(@current_user) %>
