<h1><%= @movie.title %></h1>
<%= button_to 'Create Viewing Party for Movie', new_party_path, params: {movie_id: @movie.id}, method: :get, class: "btn btn-sm btn-light button-bg btn-outline-dark"%>
<br>
<p>Vote Average: <%= @movie.rating %></p>
<p>Runtime: <%= @movie.reformatted_runtime %></p>

<p>Genre(s): <%= @movie.genres.join(", ") %></p>


<h2>Summary</h2>
<p><%= @movie.overview %></p>

<h2>Cast</h2>
<% @movie.cast.each do |actor| %>
  <p><%= actor.name %> as <%= actor.character %></p>
<% end %>

<h2><%= @movie.reviews.size %> Review(s)</h2>
  <% @movie.reviews.each do |review| %>
    <div>
      <p>Author: <%= review.author %></p>
      <p><%= review.review %></p>
    </div>
  <% end %>

<div align="center" id="body">
  <div class="card navbar-custom"  style="width: 18rem;">
    <div class="card-body">
      <h1 class="card-title">
        Similar Movies
      </h1>
    </div>
  </div><br/><br/>
  <% @similar_movies.each do |movie| %>
    <div class="card navbar-custom"  style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to "#{movie.title}", movie_path(movie.id), class: "btn btn-sm btn-dark navbar-custom blacktext", params: { title: "#{movie.title}" }%>
        </h5>
        <h6 class="card-subtitle mb-2">
          Rating: <%= movie.rating %>
        </h6>
        <% if movie.image %>
          <h6 class="card-subtitle mb-2">
            <img src="<%= movie.image %>" width=70%>
          </h6>
        <% end %>
      </div>
    </div>
    <br/>
  <% end %>
</div>
