<h1> Welcome, <%= @user.username %>!</h1>

<%= link_to "Discover Movies", discover_path, class: "btn btn-sm btn-light button-bg btn-outline-dark" %>

<section id="Friends">
  <h2>Friends</h2>
    <%= form_with url: friendships_path, method: :post, local: true do |f| %>
      <%= f.label :email, "Email:"%>
      <%= f.text_field :email %>
      <%= f.submit "Add Friend" %>
    <% end %>

    <% if @user.friends.empty? %>
        You currently have no friends.
    <% else %>
        <% @user.friends.each do |friend| %>

          <%= friend.username %>
        <% end %>
    <% end %>

</section>

<section id="Viewing Parties">
  <h2>Viewing Parties</h2>
  <% if @user.parties.count == 0 %>
    <p> You have no scheduled parties! </p>
  <% else %>
    <% @user.parties.each do |party|  %>
      <%= link_to "#{party.title}", movie_path(party.movie_id) %><br>
      <%= party.date %>
      <%= party.start_time %>
      <% if party.host == @user.id %>
          <p> Hosting </p>
      <% else %>
          <p> Invited </p>
            <p>Host: <%= party.find_host(party.host).username  %> </p>
      <% end %>

      <h6>Invited Guests</h6>
      <ul>
      <% party.invitees.each do |invitee| %>

        <%  if invitee.user_id == current_user.id %>

          <li> <b> <%= invitee.user.username %> </b> </li>

        <% else %>

          <li>  <%= invitee.user.username %> </li>

        <% end %>
      <% end %>
      </ul>
    <% end %>
  <% end %>

</section>
