<h1> Welcome, <%= current_user.username %>!</h1>

<%= link_to "Discover Movies", discover_path, class: "btn btn-sm btn-light button-bg btn-outline-dark" %>

<section id="Friends">
  <h2>Friends</h2>
    <%= form_with url: friendships_path, method: :post, local: true do |f| %>
      <%= f.label :email, "Email:"%>
      <%= f.text_field :email %>
      <%= f.submit "Add Friend" %>
    <% end %>

    <% if current_user.friends.empty? %>
        You currently have no friends.
    <% else %>
        <% current_user.friends.each do |friend| %>

          <%= friend.username %>
        <% end %>
    <% end %>

</section>

<section id="Viewing Parties">
  <h2>Viewing Parties</h2>
  <% if current_user.parties.nil? %>
    <p> You have no scheduled parties! </p>
  <% else %>
    <% current_user.parties.each do |party|  %>
      <%= party.title %>
      <%= party.date %>
      <%= party.start_time %>
      <% if party.host == current_user.id %>
          <p> Hosting </p>
      <% else %>
          <p> Invited </p>
      <% end %>
    <% end %>
  <% end %>

</section>
